<div data-role="header">
	<h1><%= @user.first_name + ' ' + @user.last_name + ', ' + @user.email %></h1>
	<%= link_to 'Home', root_path, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
	
</div>