<div data-role="header">
	<h1><%= @user.first_name + ' ' + @user.last_name + ', ' + @user.email %></h1>
	<%= link_to 'Home', root_path, "class" => "ui-btn-right" %>
</div>

<div data-role="content">
<table>
  <tr>
    <td>
      <strong>First name</strong> <%= @user.first_name %><br/>
      <strong>Last name</strong> <%= @user.last_name %><br/>
    </td>
  </tr>
</table>
</div>